
<p>
<%= session[:username] %>, you bet <%= session[:bet] %>, capital is <%= session[:capital] %>
</p>

<p>player's card:</p>

<% player = session[:deck].players[0] %>
<% cards = player.cards %>
<% cards.each do |card| %>
  <%= card %>
<% end %>
<p>
score = <%= player.get_score %>
</p>

<p>dealer's card:</p>
<% dealer = session[:deck].dealer %>
<% cards = dealer.cards %>
<% cards.each do |card| %>
  <%= card %>
<% end %>
<p>
score = <%= dealer.get_score %>
</p>


<form action = '/hit_or_stay'>
<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-default" name="hit">Hit</button>
  <button type="submit" class="btn btn-default" name="stay">Stay</button>
</div>
</form>