<div id="game">
  
<% deck = session[:deck] %>
<% player = deck.player %>
<% dealer = deck.dealer %>

<% if !@winner && !@loser %>
<div class="alert alert-warning">
  bet => <%= player.bet %>; capital => <%= player.capital %>
</div>
<%end%>

<% if @winner %>
  <div class="alert alert-success"><%= @winner%></div>
<% elsif @loser %>
  <div class="alert alert-error"><%=@loser%></div>
<% end %>


<% if deck.game_is_over %>
  <form>
    <h4>Play again?</h4>
    <a href='/bet' class='btn btn-success'>Yes</a>
    <a href='/' class='btn btn-warning'>No</a>
  </form>
<% else %>
  <% if deck.dealer_turn %>
    <form id="dealer_form" action = '/ask_dealer' method='post'>
      <button type="submit" class="btn btn-primary">Dealer turn -></button>
    </form>
  <% else %>
    <p> Player's turn </p>
    <div class="btn-group" role="group" aria-label="...">
      <form id = "hit_form" action = '/hit' method='post'>
        <button type="submit" class="btn btn-success">Hit</button>
      </form>
      <form  id = "stay_form" action = '/stay' method='post'>
        <button type="submit" class="btn btn-warning">Stay</button>
      </form>
    </div>
  <% end %>
<% end %>

<div class = "well">
  <h4>player's card:</h4>
    <% player.cards_to_filenames.each do |filename| %>
      <% jpgname = "/images/cards/" + filename %>
      <img src=<%=jpgname%> alt= <%=filename%> style="width:100px;height:140px" class="card_image">
    <% end %>
  <h4> score = <%= player.get_score %> </h4>
</div>


<div class = "well">
  <h4>dealer's card:</h4>
    <% dealer.cards_to_filenames.each_with_index do |filename, index| %>
      <% jpgname = index > 0 || deck.dealer_turn ? "/images/cards/" + filename : "/images/cards/cover.jpg" %>
      <img src=<%=jpgname%> alt= <%=filename%> style="width:100px;height:140px" class="card_image">
    <% end %>
  <h4> score = <%= deck.dealer_turn ? dealer.get_score : "unknown"%> </h4>
</div>


</div>