<% deck = session[:deck] %>
<% player = deck.player %>
<% dealer = deck.dealer %>

<p>
  <%= player.name %>, you bet <%= player.bet %>, capital is <%= player.capital %>
</p>

<div class = "well">
<p>player's card:</p>
<% player.cards_to_filenames.each do |filename| %>
  <% jpgname = "/images/cards/" + filename %>
  <img src=<%=jpgname%> alt= <%=filename%> style="width:128px;height:200px">
<% end %>
<p> score = <%= player.get_score %> </p>
</div>

<div class = "well">
<p>dealer's card:</p>
<% dealer.cards_to_filenames.each_with_index do |filename, index| %>
  <% jpgname = index > 0 || deck.dealer_turn ? "/images/cards/" + filename : "/images/cards/cover.jpg" %>
  <img src=<%=jpgname%> alt= <%=filename%> style="width:128px;height:180px">
<% end %>
<p> score = <%= deck.dealer_turn ? dealer.get_score : "unknown"%> </p>
</div>

<% if deck.game_is_over %>
  <% if player.status == BlackJackRuler::STATUS[:win] %>
    <h2> <%= player.name %>, you win! </h2>
  <% elsif player.status == BlackJackRuler::STATUS[:tie] %>
    <h2> <%= player.name %>, it's a tie. </h2>
  <% elsif player.status == BlackJackRuler::STATUS[:lose] %>
    <h2> <%= player.name %>, you are loser... </h2>
  <% else %>
    <h2> something wrong </h2>
  <% end %>
  <p> capital = <%= player.capital %> </p>

  <form action = '/bet' method='get'>
  <button type="submit" class="btn btn-default">Again</button>
  </form>

<% else %>
  <% if deck.dealer_turn %>
    <p> Dealer's turn </p>
    <form action = '/ask_dealer' method='post'>
    <button type="submit" class="btn btn-default">Ask Dealer</button>
    </form>
  <% else %>
    <p> Player's turn </p>
    <div class="btn-group" role="group" aria-label="...">
      <form action = '/hit' method='post'>
      <button type="submit" class="btn btn-default">Hit</button>
      </form>
      <form action = '/stay' method='post'>
      <button type="submit" class="btn btn-default">Stay</button>
      </form>
    </div>
  <% end %>
<% end %>